@media (max-width: 991px) {
	.container {
		max-width: 710px;
	}
	.carousel {
		padding: 81px 0;
		&__inner {
			position: relative;
			width: 750px;
			margin: 0 auto;
			img {
				display: block;
				margin: 0 auto;
				width: 420px;
				height: 320px;
			}
		}
		.slick-prev, .slick-next {
			z-index: 1;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 70px;
			border: none;
			background-color: #ffffff00;
			img {
				width: 31px;
				height: 50px;
			}
		}
		.slick-next {
			right: 70px;
			left: auto;
		}
	}
	.catalog {
		&__content {
			justify-content: center;
			width: calc(100% + 40px);
		}
		&-item {
			margin-right: 30px;
		}
	}
}

@media (max-width: 767px)  {
	.container {
		max-width: 500px;
	}
	.title {
		font-size: 20px;
	}
	.promo {
		background: url("../img/main.jpg") 5% center/cover no-repeat;
		&__header {
			font-size: 40px;
		}
		&__subheader {
			font-size: 23px;
		}
		.header {
			&__logo {
				width: 36%;
			}
			&__official {
				width: 36%;
			}
			&__contacts {
				width: 36%;
			}
			&__phone {
				font-size: 15px;
			}
		}
	}
	.advantages {
		&__wrapper {
			margin-top: 40px;
		}
		&__item {
			max-width: 33%;
		}
		&__subtitle {
			margin-top: 30px;
			font-size: 15px;
		}
		&__descr {
			margin-top: 17px;
			font-size: 13px;
		}
	}
	.carousel {
        padding-bottom: 40px;
        &__inner {
			width: 100%;
        }
    }
	.catalog {
		&__tabs {
			margin-top: 25px;
		}
		&__tab {
			font-size: 15px;
		}
	}
	.feed {
		&__subtitle {
			font-size: 16px;
		}
		&__count {
			font-size: 13px;
		}
		&__descr {
			font-size: 14px;
		}
	}
}

@media (max-width: 575px)  {
	.container {
		max-width: 300px;
	}
	.title {
		font-size: 20px;
	}
	.promo {
		background: url("../img/main.jpg") 14% center/cover no-repeat;
		&__wrapper {
			margin-top: 30px;
		}
		&__header {
			font-size: 25px;
		}
		&__subheader {
			font-size: 14px;
			margin-top: 0;
		}
		.header {
			&__logo {
				width: 70%;
			}
			&__official {
				display: none;
			}
			&__contacts {
				width: 50%;
			}
			&__phone {
				font-size: 12px;
			}
		}
		&__icons {
			margin-top: 25px;
			width: 300px;
		}
		&__link {
			margin-top: 10px;
			font-size: 13px;
		}
	}
	.button {	
		width: 115px;
		height: 26px;
		font-size: 10px;
		&_main {
			margin-top: 45px;
			font-size: 15px;
			width: 225px;
			height: 52px;
		}
		&_submit {
			width: 100%;
			height: 50px;
			font-size: 15px;
		}
	}
	.advantages {
		padding: 30px 0 50px 0;
		&__wrapper {
			margin-top: 0px;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin-top: 25px;
			max-width: 80%;
		}
		&__subtitle {
			margin-top: 5px;
			font-size: 15px;
		}
		&__descr {
			margin-top: 10px;
			font-size: 13px;
		}
	}
	.consultation {
		min-height: 570px;
		padding: 30px 0 30px 0;
		background: url("../img/consultation.jpg") 60% center/cover no-repeat;
	}
	.carousel {
        padding-bottom: 40px;
        &__inner {
			width: 100%;
			img {
				width: 280px;
				height: 215px;
			}
        }
    }
	.catalog {
		padding-bottom: 25px;
		&__tabs {
			flex-direction: column;
			margin-top: 25px;
		}
		&__tab {
			margin-top: 15px;
			font-size: 15px;
		}
		&-item {
			margin-right: 0;
		}
		&__content {
			margin-top: 20px;
			width: 100%
		}
	}
	.feed {
		&-form {
			width: 100%;
		}
		&__item {
			flex-direction: column;
			margin-top: 25px;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		&__text {
			margin-left: 0;
		}
		&__subtitle {
			margin-top: 10px;
			font-size: 16px;
			text-align: center;
		}
		&__count {
			margin-top: 3px;
			font-size: 15px;
			text-align: center;
			margin-bottom: 10px;
		}
		&__descr {
			text-align: center;
			font-size: 14px;
			width: 231px;
			margin: 0 auto;
		}
	}
	.footer {
		&__info {
			width: 320px;
		}
		&__addr {
			margin-bottom: 25px;
			font-size: 19px;
		}
		&__social-item {
			margin: 0 5px;
		}
	}
	.overlay {
		.modal {
			width: 298px;
			padding: 30px 20px 30px 20px;
			&__subtitle {
				font-size: 15px;
			}
			&__close {
				top: 3px;
				right: 3px;
			}
		}
	}
}